*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
   text-align: center;
}

button {
    border: none;
    padding: 5px;


}

input {
    padding: 5px;
    width: 100%;
}

.add-button {
    
}


.add-item-section{

    display: flex;
    justify-content: center;

    padding-block: 10px;
    
}



.container {
    width: 100dvw;
    
    padding: 10px;

}

.list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    gap: 10px;
}

.list-row{
    display: flex;
    width: 100%;

    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    

}

.list-row p {
    flex-grow: 1;

    padding: 10px;
    
}


.done{
    text-decoration: line-through;
}

.delete-button{
    align-self: stretch;

    background-color: red;
}

.circle {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
}

.filled {
    background-color: black;
}

